*{
    box-sizing: border-box;
    margin: 0;
}

body{
}

h1{
    font-weight: 800;
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 20px;
}

h2{
    font-size: 12px;
    margin-bottom: 15px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    width: 894px;
    height: 553px;
    position: relative;
}

.container > div{
 border-radius: 25px;
}

.cuadro-rojo{
    width: 480px;
    height: 553px;
    background-color: #cc3843;

}

.cuadro-rojo img{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    height: 479px;
    opacity: 0.2;
}

.cuadro-azul{
    width: 654px;
    height: 479px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background-color: #0c1f2c;
    font-family: "Open Sans", sans-serif;
}

.cuadro-azul img{
    position: absolute;
    left: -25%;
    top: 50%;
    transform: translateY(-50%);
}

.card{
    position: absolute;
    left: 240px;
    width: 300px;
}

.titulo{
    margin-top: 40px;
    color: white;
}

.titulo p{
    
    font-weight: 400;
    font-size: 30px;
    font-weight: 300;
}

.talla{
    margin-top: 50px;
    color: white;
}

.talla-letra{
    display: flex;
    justify-content:start;
    align-items: center;
    margin-bottom: 35px;
    height: 40px;
}

.talla-letra input[type='submit']{
    width: 30px;
    height: 30px;
    color: white;
    background-color: inherit;
    margin-right: 15px;
    border: 1px solid transparent;
    border-radius: 50%;
}

.talla > input{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    background-color: #cc3843;
    height:48px;
    padding: 0 24px 0 24px;
    color: inherit;
    border: none;
    font-size: 12px;
    border-radius: 24px;
}

.talla-letra input[type='submit']:hover{
    border-color: #cc3843;
}